---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <ViewTransitions />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>catwalk</title>
  </head>
  <body >
    <nav class="bg-catwalk-primary shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-around">
          <div class="flex space-x-7">
            <div>
              <a href="/" class="flex items-center py-4 px-2">
                <img src="/catwalk_icon.png" class="rounded w-[30px]" alt="" />
              </a>
            </div>
            <div class="flex items-center space-x-1 text-catwalk-secondary">
              <a
                href="/"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Inicio</a
              >
              <a
                href="/nosotros"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Sobre nosotros</a
              >
              <a
                href="/servicios"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Servicios</a
              >
              <a
                href="/contacto"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Contacto</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="py-8">
      <div class="bg"></div>
      <div class="bg bg2"></div>
      <div class="bg bg3"></div>
      <div
        class="flex justify-center max-w-[400px] p-4 bg-[#901b0c] rounded-md mx-auto"
        transition:animate="fade"
      >
        <!-- <h1 class="text-xl">catwalk logo</h1> -->
        <img src="/catwalk_icon.png" class="rounded" alt="" />
      </div>
    </div>
    <div class="w-full">
      <slot />
    </div>
    <footer class="bg-catwalk-accent text-center p-2 text-catwalk-secondary w-full">
      <div class="flex justify-between items-center">
        <p>UBÍCANOS<br>Altos de Sol Amado, calle 19.</p>
        <p>CONTACTOS <br> +584128058292. <br> catwalkmcbo11@gmail.com.</p>

        <!-- <div class="flex gap-2 mr-3">
        </div>

        <div class="flex gap-2 mr-3 pr-24">
        </div> -->

        <div class="flex gap-6 mr-3 ">
          <a href="https://api.whatsapp.com/send?phone=584128058292" target="_blank" class="cursor-pointer"
           ><img src="./ws.svg" alt="" width="30px" /></a
          >
          <a href="https://www.instagram.com/catwalk.mcbo/" class="cursor-pointer" target="_blank">
            <img src="./instagram.svg" alt="" width="30px" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100vw;
    overflow-x: hidden;
  }

  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #900c3f 50%, #ffe5ef 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }

  .bg3 {
    animation-duration: 5s;
  }

  .content {
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fade {
    animation: fade-animation 0.5s ease-in;
  }

  h1 {
    font-family: monospace;
  }

  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }

  @keyframes fade-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
