---
import Main from "../layaouts/main.astro";
import WhiteBlock from "../layaouts/whiteBlock.astro";
---

<Main>
  <WhiteBlock title="contacto">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore dolores quis iste. Id modi iure quaerat quam dolor cumque doloremque, et illo rem? Cumque nulla odit magni distinctio explicabo ut.
  </WhiteBlock>
</Main>