---
import Main from "../layaouts/main.astro";
import WhiteBlock from "../layaouts/whiteBlock.astro";
---

<Main>
  <WhiteBlock>
    <p class="text-xl text-center font-semibold">Para ponerse en contacto con nosotros, puede acceder a nuestra cuenta de Instagram, o enviarnos a nuestro Whatsapp o Gmail.
      <br>
      <br>
      IG: @catwalk.mcbo.
      <br>
      ws: +584128058292.
      <br>
      Gmail: catwalkmcbo11@gmail.com.
    </WhiteBlock></p>
</Main>