---
import Main from "../layaouts/main.astro";
---

<Main>
  <h1>contacto</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis optio porro repellat iste beatae ut sapiente vero qui dolorum minus? Aut beatae, iure recusandae nulla voluptas non amet nisi laboriosam?
</Main>