---
import Main from "../layaouts/main.astro"
---

<Main>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quod inventore eum? Asperiores impedit saepe ratione voluptate quaerat. Ducimus sed excepturi quos minus tempora, eos quas maxime animi iste quo!
</Main>
