---
import Main from "../layaouts/main.astro"
import WhiteBlock from "../layaouts/whiteBlock.astro"
---
<Main>
  <WhiteBlock title="sobre nostros">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum, maiores, animi voluptatem at eaque dolor ex doloremque culpa magni sequi iusto assumenda? Odit natus est minima, repellendus assumenda impedit.
  </WhiteBlock>
</Main>