---
import Main from "../layaouts/main.astro"
---
<Main>
<h1>nosotros</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, optio veritatis deserunt nostrum cumque provident voluptate fugiat laudantium illo quaerat nesciunt minus natus esse magnam nam quasi pariatur obcaecati vel!

</Main>