---
import Main from "../layaouts/main.astro"
import WhiteBlock from "../layaouts/whiteBlock.astro"
---
<Main>
  <WhiteBlock>
    <p class="text-xl text-center font-semibold">Somos una tienda de ropa y accesorios que ofrece las últimas tendencias para un público joven entre 18 y 30 años. Nuestro enfoque es brindar estilos modernos, únicos y accesibles para quienes buscan expresarse a través de la moda.</p>
  </WhiteBlock>
</Main>