---
import Main from "../layaouts/main.astro";
---

<Main>

  <div class=" container bg-catwalk-secondary p-3 mx-auto rounded text-lg my-2">
    <h1 class="text-center">servicios</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quod inventore eum? Asperiores impedit saepe ratione voluptate quaerat. Ducimus sed excepturi quos minus tempora, eos quas maxime animi iste quo!
  </div>
  
</Main>