---
import Main from "../layaouts/main.astro";
---

<Main>
  <h1>servicios</h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus a accusantium minus nobis quam suscipit ipsam praesentium veniam distinctio exercitationem molestias nesciunt, deserunt nostrum asperiores amet velit debitis recusandae? Ea.
</Main>