---
import Main from "../layaouts/main.astro";
import WhiteBlock from "../layaouts/whiteBlock.astro";
---

<Main>

  <WhiteBlock>
    <p class="text-xl text-center font-semibold">Ofrecemos principalmente Prendas alternativas que van desde los 5$ hasta los 30$. Secundariamente, nuestra marca ofrece accesorios, los cuales pueden ir desde los 5$ hasta los 10$.
    <br>
    Para mas informacion sobre como comprar algun producto, visite el apartado de "contacto".</p>
  </WhiteBlock>
  
</Main>