---
import Main from "../layaouts/main.astro";
import WhiteBlock from "../layaouts/whiteBlock.astro";
---

<Main>

  <WhiteBlock title="servicios">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, recusandae. Delectus sed dolore molestias ab enim! Et voluptatum distinctio beatae omnis. Numquam dicta enim assumenda quia. Commodi voluptatum minus numquam!
  </WhiteBlock>
  
</Main>